<html>
<head>
  <Title>RealAllocator: Custom Backtest</title>
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--START D3 stuff-->
<style>
body {
  font: 12px Arial;
  margin: 20px;
      }
path {
  stroke-width: 2;
  fill:none;
}
.axis path, .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.area {
  fill: #F0F8FF;
  stroke-width: 0;
}

</style>

<!--END D3-->
   <body>
     <div class="container"><br>
         <center>
           <h1>RealAllocator Custom Backtest</h1>
         </center>
       </div>
<p>
       <div class="row">
         <div class="col-md-6">
           <h3> Portfolio Allocation:</h3>
           <table class="table table-striped" id="owned_stock_table">
             <thead>
               <tr>
                 <th>Porfolio</th>
                 <th>Equity Allocation</th>
                 <th>Bond Allocation</th>
                 <th>Direct Real Estate Allocation</th>
                 <th>Est. Sharpe Ratio</th>
               </tr>
             </thead>
             <tbody>
               {% for key,port_data in portfolios.iterrows() %}
               <tr>
                 <td>{{port_data['name']}}</td>
                 <td>{{ port_data['stock weight']*100 }}</td>
                 <td>{{ port_data['bond weight']*100 }}</td>
                 <td>{{ port_data['real estate weight']*100}}</td>
                 <td>{{ port_data['Sharpe']}}</td>
               </tr>
               {% endfor %}
             </tbody>
           </table>
         </div>
         <div class="col-md-6">
           <h3>Custom Backtest:</h3>
           <table class="table table-striped" id="owned_stock_table">
             <thead>
               <tr>
                 <th>Length</th>
                 <th>Mean Quarterly Return Difference</th>
                 <th>Difference in Overall Return</th>
                 <th>Risk Difference</th>
                 <th>Number Quarters Optimal Ahead</th>
               </tr>
             </thead>
             <tbody>
               {% for key, result in results.iterrows() %}
               <tr>
                 <td>{{ result['Length'] }}</td>
                 <td>{{ result['mean_error'] }}</td>
                 <td> {{ result['sum']}}</td>
                 <td>{{ result['risk'] }}</td>
                 <td>{{ result['opt_up'] }}</td>
               </tr>
               {% endfor %}
             </tbody>
           </table>
         </div>

       </div>
<div class='row'>
  <div id='graphDiv'>
<!--more D3-->
<script src='https://d3js.org/d3.v4.min.js'></script>
<script>

// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#graphDiv")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

var graphData = {{backtest.chart_data | safe}}

//var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(5);
//var yAxis = d3.svg.axis().scale(y).orient("left").ticks(5);
var parseTime = d3.timeParse("%Y-%m-%d");

var RALine = d3.line().x(function(d) { return x(d.Quarter); })
                          .y(function(d) { return y(d.RealAllocator); })

var CLine =  d3.line().x(function(d) { return x(d.Quarter); })
                          .y(function(d) { return y(d.Current); })

function drawGraph(data) {
// For each row in the data, parse the date
// and use + to make sure data is numerical
  data.forEach(function(d) {
        d.Quarter = parseTime(d.Quarter);
        d.Current = +d.Current;
        d.RealAllocator = +d.RealAllocator;
        });
// Scale the range of the data
var x = d3.scaleTime().domain(d3.extent(data, function(d) { return d.Quarter; }))
      .range([ 0, width ]);
var y = d3.scaleLinear().domain([d3.min(data, function(d) {
        return Math.min(d.RealAllocator, d.Current) }),
        d3.max(data, function(d) {
              return Math.max(d.RealAllocator, d.Current) })]).range([height, 0]);
// Add the area path
//  svg.append("path").datum(data).attr("class", "area").attr("d", area)
// Add the RALine as a orange line
  svg.append("path").datum(data).attr("fill", "none")
          .attr("stroke", "orange")
          .attr("stroke-width", "1.5")
          .attr("d", d3.line()
              .x(function(d) { return x(d.Quarter) })
              .y(function(d) { return y(d.RealAllocator) })
);
// Add the closeLine as a blue dashed line
  svg.append("path").datum(data).attr("stroke", "steelblue").attr("fill", "none")
                                    .attr("stroke-dasharray", ("3, 3"))
                                    .attr("d",
                                    d3.line().x(function(d) { return x(d.Quarter) })
                                             .y(function(d) { return y(d.Current) })

                                    );
// Add the X Axis
  svg.append("g").attr("transform", "translate(0," + height + ")")
                                      .call(d3.axisBottom(x));
// Add the Y Axis
  svg.append("g").call(d3.axisLeft(y));
// Add the text for the "High" line
  svg.append("text").attr("transform", "translate("+(width+3)+","+y(graphData[0].RealAllocator)+")")
                                  .attr("dy", ".35em")
                                  .attr("text-anchor", "start")
                                .attr("fill", "orange")
                                    .text("RealAllocator");
  // Add the text for the "Low" line
  svg.append("text").attr("transform", "translate("+(width+3)+","+y(graphData[0].Current)+")")
                    .attr("dy", ".35em")
                    .attr("text-anchor", "start")
                    .attr("fill", "blue")
                    .text("Current");

};

drawGraph(graphData);

</script>

</div>
<!--     <img src="{{url_for('static', filename=backtest)}}", height="350px"/><br>-->
   </div>
   <p><br>
             <div class="row">
                   </div>

   </body>
</html>
